@import "./variables.scss";

.footer{
  padding: .5rem 2rem;
  background-color: $primary;

  &__copyright{
    font-weight: 700;
    font-size: .8rem;
    line-height: 15px;
    color: black;
  }
  &__socials{
    //display: flex;
    //gap: 10px;
  }
  &__link{
    width: 2.5rem;
    height: 2.5rem;
  }

}