@import "./variables.scss";

.homepage{
  min-height: 100vh;
  background: url("img/spaceStars.png");
  object-fit: cover;
  color: white;
  position: relative;
}

.welcome-text,
.short-info{
  position: relative;
  z-index: 10;
}

.welcome-text{
  &__header {
    font-size: $h1Size;
    position: relative;
    left: -.5rem;
    top: 1.5rem;
  }

  &__span {
    &--geo {
      color: $primary;
    }
    &--match {
      color: $light;
    }
  }

  &__subheading{
    font-size: $subheadingSize;
    color: $primary;
    margin-top: $subheadingMargin;
    text-align: center;
  }

  &__city{
    font-weight: 700;
  }
}

.short-info{
  margin-top: $shortInfoMargin;
  line-height:$shortInfoLineHeight;
}

.planet-image{
  width: clamp(260px, 35vw ,400px);
  position: absolute;
  @include centerEarth();
  z-index: 0;
}