@import "./variables.scss";

.homepage{
  min-height: 100vh;
  background: url("img/spaceStars.jpg") no-repeat;
  background-size: cover;
  object-fit: cover;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.welcome-text,
.short-info{
  position: relative;
  z-index: 1;
}

.welcome-text{
  &__header {
    font-size: $h1Size;
  }

  &__span {
    &--geo {
      color: $primary;
    }
    &--match {
      color: $light;
    }
  }

  &__subheading{
    font-size: $subheadingSize;
    color: $primary;
    margin-top: $subheadingMargin;
    text-align: center;
  }

  &__city{
    font-weight: 700;
  }

}

.short-info{
  @include flex(column, space-around);
  //justify-content: space-around;
  //gap: 1.5rem;
  //flex-grow: 1;
  line-height: 1.8rem;

  &__paragraph{
    font-size: 1.3rem;
  }
}

.planet-image{
  width: clamp(260px, 35vw ,800px);
  position: absolute;
  @include centerEarth();
}