@import "./variables.scss";

.results{
  padding: 0 2.2rem 2.4rem;
  margin: 0;
}

.result {
  margin-top: 2rem;
  @include flex(column, space-around);

  &__header {
    @include centerText();
    font-size:$textXXLarge;
    @include flex();
  }

  &__info{
    text-align: center;
  }

  .buttons {
    @include flex(column,space-between);
    margin-top: 2rem;
    .button {
      width: max-content;
      padding: .5rem 1rem;
    }
  }
}

.alert-message {
  @include centerText();
  color:$third;
  font-size:$textSmall;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
}

.waiting{
  font-size:$textLarge;
  margin-top: 1rem;
  animation: 2s linear infinite normal both rotate;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
  
}