@import "./variables.scss";

.results{
  padding: 0 2.2rem 2.4rem;
  margin: 0;
}

.result {
  margin-top: 4rem;
  @include flex(column, space-around);

  &__header {
    @include centerText();
  }

  &__info{
    text-align: center;
  }

  .buttons {
    @include flex(column,space-between);
    margin-top: 2rem;
    .button {
      width: max-content;
      padding: .5rem 1rem;
    }
  }
}

.alert-message {
  @include centerText();
  color:$third;
  font-size:$textXSmall;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.waiting{
  font-size:$textLarge;
  animation-name: rotate;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;

}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
  
}