@import "./variables.scss";

.result {
  margin-top: 4rem;
  @include flex(column, space-around);
  &__header {
    @include centerText();
  }
  &__info{
    text-align: center;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
