@import "./variables.scss";

section {
  line-height: 1.6rem;
  margin: 5rem 0;
  .about-quiz {
    margin-top: 1rem;
    &__list {
      list-style-position: inside;
      line-height: 170%;
    }
    &__paragraph{
      padding-top: .8rem;
      text-align: justify;
    }
  }
  .about-me{
    //padding-inline: 2rem;
    margin-bottom: 2rem;
    &__info {
      //text-align: justify;

      &--more-info{
        font-weight: 500;
        text-align: left;
        margin-top: .5rem;

        .csharp{
          color: green;
          font-weight: 600;
        }
        .python{
          color:royalblue;
          font-weight: 600;
        }
      }
    }
  }
}