$primary: #E3C639;
$light: #eee;
$spaceBackgroundPrimary: linear-gradient(116.82deg, #07111A 0%, #0C154A 77.12%, #0F1C68 100%);
$spaceBackgroundSecondary: linear-gradient(116.82deg, #010509 0%, #050A28 65.27%, #060E3D 100%);
$h1Size: calc(3rem + 10px);
$h2Size: calc(2rem + 8px);