@import "./variables.scss";
@import "./homepage.scss";
@import "./sections.scss";
@import "./footer.scss";
@import "./quiz.scss";
@import "./result.scss";

@font-face {
  //Free download fonts at http://sharefonts.net
  font-family: 'rockwell';
  src: url(fonts/rockb.ttf);
  font-style: normal;
  font-weight: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  background: $spaceBackgroundSecondary;
  color: $light;
  position: relative;
  font-family: 'montserrat',sans-serif;
}

.homepage,
.about-quiz,
.about-me {
  padding: 1.5rem 2.2rem;
}

h1,
h2 {
  font-family: Rockwell, serif;
  color: $primary;
  letter-spacing: -0.075em;
  @include centerText();
}

h2 {
  font-size: $h2Size;
  padding-bottom: 1.5rem;
}

h3 {
  padding-bottom: .8rem;
}

a{
  color: white;
  text-decoration: none;
}

.button {
  width: 165px;
  height: 41px;
  border: none;
  cursor: pointer;
  background:$buttonBackground;
  border-radius: 15px;
  box-shadow: 0px 4px 4px $buttonShadow;

  font-weight:700;
  font-size: 22px;
  color: white;

  display: block;
}

.bottom-shadow {
  width: 100%;
  height: 6rem;
  position: fixed;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 5, 9, 0)), color-stop(8.1%, rgba(1, 5, 9, .01)), color-stop(15.5%, rgba(1, 5, 9, .047)), color-stop(22.5%, rgba(1, 5, 9, .106)), color-stop(29%, rgba(1, 5, 9, .176)), color-stop(35.3%, rgba(1, 5, 9, .26)), color-stop(41.2%, rgba(1, 5, 9, .353)), color-stop(47.1%, rgba(1, 5, 9, .45)), color-stop(52.9%, rgba(1, 5, 9, .55)), color-stop(58.8%, rgba(1, 5, 9, .647)), color-stop(64.7%, rgba(1, 5, 9, .74)), color-stop(71%, rgba(1, 5, 9, .824)), color-stop(77.5%, rgba(1, 5, 9, .894)), color-stop(84.5%, rgba(1, 5, 9, .953)), color-stop(91.9%, rgba(1, 5, 9, .99)),to(rgb(1,5,9)));
}

@media all and (max-width: 350px) {
  html{
    font-size: 13px;
  }

  .quiz {
    padding: 1.5rem 1rem;
  }
}

@media (min-height: 1000px){
  .short-info{
    justify-content: center;
    gap: 3rem;
    margin: 3rem 0;
  }

}

@media (min-width: 800px),(min-height: 1200px) {
  html{
    font-size: 16px;
  }
  .planet-image{
    @include centerEarthBig();
  }

  .quiz-link {
    align-self: flex-start;
  }

  .welcome-text__header{
    //text-align: left;
    font-size: 6rem;
  }
  .welcome-text__subheading{
    margin-top: 1.5rem;
    //text-align: left;
  }

  .index {
    text-align: left;
  }

  .short-info{
    max-width: 50vw;
  }

  .footer__socials,
  .footer__copyright{
    @include centerText();
  }

  .homepage {
    padding-inline: 6rem;
  }

  .about-quiz,
  .about-me {
    padding-inline: 25vw;
  }

  h1,
  h2 {
    @include centerText(left,0);
  }

  .welcome-text {
    &__header--quiz-header{
      @include  centerText(center,auto);
    }
    &__subheading--quiz-subheading{
      margin-top: 3rem;
    }
  }

}

@media (min-width: 1200px) {
  .question__label,
  .button--play,
  .button--quiz {
    transition: ease-in .1s;
  }
  .question__label:hover,
  .button--play:hover,
  .button--quiz:hover {
    transform: scale(.97);
  }
}