@import "./variables.scss";
@import "./homepage.scss";
@import "./sections.scss";
@import "./footer.scss";
@import "./quiz.scss";
@import "./result.scss";

@font-face {
  //Free download fonts at http://sharefonts.net
  font-family: 'rockwell';
  src: url(fonts/rockb.ttf);
  font-style: normal;
  font-weight: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  background: $spaceBackgroundSecondary;
  color: $light;
  position: relative;
  font-family: 'montserrat',sans-serif;
}

.homepage,
.about-quiz,
.about-me {
  padding: 1.5rem 2.2rem;
}

.about-me {
  margin-bottom: 2rem;
}

.about-quiz{
  margin-top: 1rem;
}

h1,
h2 {
  font-family: Rockwell, serif;
  color: $primary;
  letter-spacing: -0.075em;
  @include centerText();
}

h2 {
  font-size: $h2Size;
  padding-bottom: 1.5rem;
}

h3 {
  padding-bottom: .8rem;
}

.button {
  width: 165px;
  height: 41px;
  border: none;
  cursor: pointer;
  background:$buttonBackground;
  border-radius: 15px;
  box-shadow: 0px 4px 4px $buttonShadow;

  font-weight:700;
  font-size: 22px;
  color: white;

  &--play{
    margin:$playButtonMargin auto;
    display: block;
  }

}

@media all and (max-width: 350px) {
  html{
    font-size: 13px;
  }
}

@media all and (min-width: 800px){
  html{
    font-size: 10px;
  }
  .planet-image{
    @include centerEarthBig();
  }

  .button--play {
    margin-inline: 0;
    position: relative;
    top: 22rem;
  }

  .welcome-text__header{
    text-align: left;
    font-size: 6rem;
  }
  .welcome-text__subheading{
    margin-top: 3rem;
    text-align: left;
  }
  .short-info{
    max-width: 50vw;
  }

  .footer__socials,
  .footer__copyright{
    text-align: center;
    margin-inline: auto;
  }

  .homepage {
    padding-inline: 6rem;
  }

  .about-quiz,
  .about-me {
    padding-inline: 25vw;
  }

  h1,
  h2 {;
    @include centerText(left,0);
  }

}