@import "./variables.scss";
@import "./homepage.scss";
@import "./sections.scss";
@import "./footer.scss";

@font-face {
  //Free download fonts at http://sharefonts.net
  font-family: 'rockwell';
  src: url(fonts/rockb.ttf);
  font-style: normal;
  font-weight: 700;
}

@mixin flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-inline: auto;
}

@mixin centerText {
  text-align: center;
  margin-inline: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  background: $spaceBackgroundSecondary;
  color: $light;
  position: relative;
  font-family: 'montserrat',sans-serif;
}

.homepage,
.about-quiz {
  padding-inline: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

h1,
h2 {
  font-family: Rockwell, serif;
  color: $primary;
  letter-spacing: -0.075em;
  @include centerText();
}

h2 {
  font-size: $h2Size;
  padding-bottom: 1.5rem;
}

h3 {
  padding-bottom: .8rem;
}

.button {
  width: 165px;
  height: 41px;
  border: none;
  cursor: pointer;
  background:$buttonBackground;
  border-radius: 15px;
  box-shadow: 0px 4px 4px $buttonShadow;

  font-weight:700;
  font-size: 22px;
  color: white;

  &--play{
    margin-top:$playButtonMargin;
    display: block;
    margin-inline: auto;
  }

}

.about-quiz{
  //background: $spaceBackgroundSecondary;
}

.footer{
  background-color: $primary;
}