.homepage {
  min-height: 100vh;
  background: url("img/spaceStars.jpg") no-repeat;
  background-size: cover;
  object-fit: cover;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.welcome-text,
.short-info {
  position: relative;
  z-index: 1;
}

.welcome-text__header {
  font-size: 3.5rem;
}
.welcome-text__span--geo {
  color: #e5c12d;
}
.welcome-text__span--match {
  color: #eee;
}
.welcome-text__subheading {
  font-size: 1.5rem;
  color: #e5c12d;
  margin-top: 13rem;
  text-align: center;
}
.welcome-text__city {
  font-weight: 700;
}

.short-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.5rem;
  line-height: 1.8rem;
}
.short-info__paragraph {
  font-size: 1.3rem;
}

.planet-image {
  width: clamp(260px, 35vw ,800px);
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
}

section {
  line-height: 1.6rem;
  margin: 5rem 0;
}
section .about-quiz {
  margin-top: 1rem;
}
section .about-quiz__list {
  list-style-position: inside;
  line-height: 170%;
}
section .about-quiz__paragraph {
  padding-top: 0.8rem;
  text-align: justify;
}
section .about-me {
  margin-bottom: 2rem;
}
section .about-me__info--more-info {
  font-weight: 500;
  text-align: left;
  margin-top: 0.5rem;
}
section .about-me__info--more-info .csharp {
  color: green;
  font-weight: 600;
}
section .about-me__info--more-info .python {
  color: royalblue;
  font-weight: 600;
}

.footer {
  padding: 0.5rem 2rem;
  background-color: #e5c12d;
  position: relative;
  z-index: 20;
}
.footer__copyright {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 15px;
  color: black;
}
.footer__link {
  width: 2.5rem;
  height: 2.5rem;
}

.quiz {
  min-height: 100vh;
  padding: 2.4rem 2.2rem;
  margin: 0;
}

.welcome-text__header--quiz-header {
  position: static;
}
.welcome-text__subheading--quiz-subheading {
  margin-top: 2rem;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-grow: 1;
  gap: 0;
  position: relative;
  margin: 3rem auto 1rem;
  width: clamp(250px,70vw,560px);
  background: radial-gradient(100% 100% at 24.22% 0%, rgba(163, 177, 236, 0.7) 0%, rgba(163, 177, 236, 0.1) 100%);
  border: 1px solid rgba(163, 177, 236, 0.3);
  backdrop-filter: blur(25px);
  border-radius: 15px;
  padding: 24px;
}
.question__icon {
  position: absolute;
  font-size: 2rem;
  top: -8%;
  left: 50%;
  transform: translateX(-50%);
}
.question__title {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 1.2rem;
}
.question__option {
  display: none;
}
.question__answers {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 1.2rem;
}
.question__label {
  text-align: center;
  margin-inline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
  gap: 1.5rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  background: linear-gradient(135deg, #e5c12d 0%, #e67a1b 100%);
  color: black;
  box-shadow: 0px 4px 4px #60440b;
  min-height: 25px;
  line-height: initial;
  word-wrap: break-word;
}
.question input[type=radio]:checked + .question__label {
  background: linear-gradient(140deg, rgba(177, 224, 25, 0.9) 0%, rgba(27, 230, 197, 0.3) 100%);
  box-shadow: none;
  transform: scale(1.03);
}

.questions-form .button--quiz {
  text-align: center;
  margin-inline: auto;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.results {
  padding: 0 2.2rem 2.4rem;
  margin: 0;
}

.result {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.5rem;
}
.result__header {
  text-align: center;
  margin-inline: auto;
}
.result__info {
  text-align: center;
}
.result .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.5rem;
  margin-top: 2rem;
}
.result .buttons .button {
  width: max-content;
  padding: 0.5rem 1rem;
}

@media all and (max-width: 350px) {
  html {
    font-size: 13px;
  }

  .quiz {
    padding: 1.5rem 1rem;
  }
}
@media all and (min-width: 490px) {
  .question__answers {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-height: 1000px) {
  .short-info {
    justify-content: center;
    gap: 3rem;
    margin: 3rem 0;
  }
}
@media (min-width: 800px), (min-height: 1200px) {
  html {
    font-size: 16px;
  }

  .planet-image {
    top: 30px;
    left: 80%;
  }

  .quiz-link {
    align-self: flex-start;
  }

  .welcome-text__header {
    font-size: 6rem;
  }

  .welcome-text__subheading {
    margin-top: 1.5rem;
  }

  .index {
    text-align: left;
  }

  .short-info {
    max-width: 50vw;
  }

  .footer__socials,
.footer__copyright {
    text-align: center;
    margin-inline: auto;
  }

  main.homepage {
    padding: 1.5rem 4rem;
  }

  section.about-quiz,
section.about-me {
    padding: 1.5rem 15vw;
  }

  h1,
h2 {
    text-align: left;
    margin-inline: 0;
  }

  .welcome-text__header--quiz-header {
    text-align: center;
    margin-inline: auto;
  }
  .welcome-text__subheading--quiz-subheading {
    margin-top: 3rem;
  }

  .result__info {
    margin-inline: 25vw;
  }
  .result .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
    gap: 3rem;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }

  main.homepage {
    padding: 1.5rem 6rem;
  }

  section.about-quiz,
section.about-me {
    padding: 1.5rem 30vw;
  }

  .question__label,
.button--play,
.button--quiz {
    transition: ease-in 0.1s;
  }

  .question__label:hover,
.button--play:hover,
.button--quiz:hover {
    transform: scale(0.97);
  }
}
@font-face {
  font-family: "rockwell";
  src: url(fonts/rockb.ttf);
  font-style: normal;
  font-weight: 700;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  background: linear-gradient(116.82deg, #010509 0%, #050A28 65.27%, #060E3D 100%);
  color: #eee;
  position: relative;
  font-family: "montserrat", sans-serif;
}

.homepage,
.about-quiz,
.about-me {
  padding: 1.5rem 2.2rem;
}

.about-quiz,
.about-me,
.results {
  min-height: 50vh;
}

h1,
h2 {
  font-family: Rockwell, serif;
  color: #e5c12d;
  letter-spacing: -0.075em;
  text-align: center;
  margin-inline: auto;
}

h2 {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

h3 {
  padding-bottom: 0.8rem;
}

a {
  color: white;
  text-decoration: none;
}

.button {
  width: 165px;
  height: 41px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #e5c12d 0%, #e67a1b 100%);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #60440b;
  font-weight: 700;
  font-size: 22px;
  color: white;
  display: block;
}

.bottom-shadow {
  width: 100%;
  height: 6rem;
  position: fixed;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 5, 9, 0)), color-stop(8.1%, rgba(1, 5, 9, 0.01)), color-stop(15.5%, rgba(1, 5, 9, 0.047)), color-stop(22.5%, rgba(1, 5, 9, 0.106)), color-stop(29%, rgba(1, 5, 9, 0.176)), color-stop(35.3%, rgba(1, 5, 9, 0.26)), color-stop(41.2%, rgba(1, 5, 9, 0.353)), color-stop(47.1%, rgba(1, 5, 9, 0.45)), color-stop(52.9%, rgba(1, 5, 9, 0.55)), color-stop(58.8%, rgba(1, 5, 9, 0.647)), color-stop(64.7%, rgba(1, 5, 9, 0.74)), color-stop(71%, rgba(1, 5, 9, 0.824)), color-stop(77.5%, rgba(1, 5, 9, 0.894)), color-stop(84.5%, rgba(1, 5, 9, 0.953)), color-stop(91.9%, rgba(1, 5, 9, 0.99)), to(#010509));
}

/*# sourceMappingURL=style.css.map */
