.homepage {
  min-height: 100vh;
  background: url("img/spaceStars.png");
  object-fit: cover;
  color: white;
  position: relative;
}

.welcome-text,
.short-info {
  position: relative;
  z-index: 10;
}

.welcome-text__header {
  font-size: calc(3rem + 10px);
  position: relative;
  left: -0.5rem;
  top: 1.5rem;
}
.welcome-text__span--geo {
  color: #e5c12d;
}
.welcome-text__span--match {
  color: #eee;
}
.welcome-text__subheading {
  font-size: calc(1rem + 6px);
  color: #e5c12d;
  margin-top: 13rem;
  text-align: center;
}
.welcome-text__city {
  font-weight: 700;
}

.short-info {
  margin-top: 1.5rem;
  line-height: 1.5rem;
}

.planet-image {
  width: clamp(260px, 35vw ,400px);
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

section {
  line-height: 1.6rem;
}
section .about-quiz__list {
  list-style-position: inside;
  line-height: 170%;
}
section .about-quiz__paragraph {
  padding-top: 0.8rem;
  text-align: justify;
}
section .about-me__info--more-info {
  font-weight: 500;
  text-align: left;
  margin-top: 0.5rem;
}
section .about-me__info--more-info .csharp {
  color: green;
  font-weight: 600;
}
section .about-me__info--more-info .python {
  color: royalblue;
  font-weight: 600;
}

.footer {
  padding: 0.5rem 2rem;
  background-color: #e5c12d;
}
.footer__copyright {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 15px;
  color: black;
}
.footer__link {
  width: 2.5rem;
  height: 2.5rem;
}

.quiz {
  min-height: 100vh;
  padding: 2.4rem 2.2rem;
}

.welcome-text__header--quiz-header {
  position: static;
}
.welcome-text__subheading--quiz-subheading {
  margin-top: 2rem;
}

.question {
  position: relative;
  margin: 3rem auto 1rem;
  max-width: 287px;
  min-height: 189px;
  background: radial-gradient(100% 100% at 24.22% 0%, rgba(163, 177, 236, 0.7) 0%, rgba(163, 177, 236, 0.1) 100%);
  border: 1px solid rgba(163, 177, 236, 0.3);
  backdrop-filter: blur(25px);
  border-radius: 15px;
  padding: 24px;
}
.question__icon {
  position: absolute;
  font-size: 2rem;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
}
.question__title {
  text-align: center;
  padding-bottom: 1.2rem;
}
.question__option {
  display: none;
}
.question__answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.2rem;
}
.question__label {
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  background: linear-gradient(135deg, #e5c12d 0%, #e67a1b 100%);
  color: black;
  box-shadow: 0px 4px 4px #60440b;
  max-width: 100px;
  min-height: 25px;
  word-wrap: break-word;
}
.question input[type=radio]:checked + .question__label {
  background: linear-gradient(140deg, rgba(177, 224, 25, 0.9) 0%, rgba(27, 230, 197, 0.3) 100%);
  box-shadow: none;
  transform: scale(1.03);
}

.result {
  margin-top: 4rem;
}
.result__info {
  text-align: center;
}

@font-face {
  font-family: "rockwell";
  src: url(fonts/rockb.ttf);
  font-style: normal;
  font-weight: 700;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  background: linear-gradient(116.82deg, #010509 0%, #050A28 65.27%, #060E3D 100%);
  color: #eee;
  position: relative;
  font-family: "montserrat", sans-serif;
}

.homepage,
.about-quiz,
.about-me {
  padding: 1.5rem 2.2rem;
}

.about-me {
  margin-bottom: 2rem;
}

.about-quiz {
  margin-top: 1rem;
}

h1,
h2 {
  font-family: Rockwell, serif;
  color: #e5c12d;
  letter-spacing: -0.075em;
  text-align: center;
  margin-inline: auto;
}

h2 {
  font-size: calc(2rem + 8px);
  padding-bottom: 1.5rem;
}

h3 {
  padding-bottom: 0.8rem;
}

.button {
  width: 165px;
  height: 41px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #e5c12d 0%, #e67a1b 100%);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #60440b;
  font-weight: 700;
  font-size: 22px;
  color: white;
}
.button--play {
  margin: 1.5rem auto;
  display: block;
}

@media all and (max-width: 350px) {
  html {
    font-size: 13px;
  }
}
@media all and (min-width: 800px) {
  html {
    font-size: 10px;
  }

  .planet-image {
    top: 30px;
    left: 80%;
  }

  .button--play {
    margin-inline: 0;
    position: relative;
    top: 22rem;
  }

  .welcome-text__header {
    text-align: left;
    font-size: 6rem;
  }

  .welcome-text__subheading {
    margin-top: 3rem;
    text-align: left;
  }

  .short-info {
    max-width: 50vw;
  }

  .footer__socials,
.footer__copyright {
    text-align: center;
    margin-inline: auto;
  }

  .homepage {
    padding-inline: 6rem;
  }

  .about-quiz,
.about-me {
    padding-inline: 25vw;
  }

  h1,
h2 {
    text-align: left;
    margin-inline: 0;
  }
}

/*# sourceMappingURL=style.css.map */
